<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget-box">
      <div class="widget-title">
        <h2>Users</h2>
      </div>
      <div class="widget-container table-responsive">
        <table class="table table-hover table-striped order-table table-green">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>IP</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td>10.1.x.x</td>
            <td><%= user.given_name %> <%= user.family_name %></td>
            <td><%= user.email %></td>
            <td><%= user.roles.first.role %></td>
            <td><span class="label label-<% if user.activated %>success<% else %>danger<% end %>"><%= user.activated %></span></td>
            <td>
              <a href="/admin/users/<%= user.username %>/edit" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
              <a href="/admin/users/<%= user.username %>/disable" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Disable</a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>  
      </div>
    </div>
  </div>
</div>